<h2>
  Our list of celebrities
</h2>

<ul>
  {{#each celebrities}}
  <li>
    <a href="/celebrities/{{this._id}}">
      {{this.name}}
    </a>
    <form action="/celebrities/{{this._id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>

  </li>
  {{/each}}
</ul>
<a href="/celebrities/new">Add new celebrity</a>
{{!-- 
<form>
  <input> </input>
  <button> Delete </button>
</form> --}}