<h2>
  Add a new celebrity !
</h2>

<form action='/celebrities/new' method="POST">
  <input placeholder="name" type="text" name='name' required>
  <input placeholder="occupation" type="text" name='occupation'>
  <input placeholder="catch phrase" type="text" name='catchPhrase'>
  <button> Create </button>
</form>