<h2>
  CELEBRITY
</h2>

<ul>
  <li>Nom : {{celebrity.name}}
    <ul>
      <li>Occupation : {{celebrity.occupation}}</li>
      <li>Catch Phrase : {{celebrity.catchPhrase}}</li>
    </ul>
  </li>
</ul>